:root {
  --toneBorder: #eee;
  --toneHeight: 3px;
  --toneHeightEdit: 6px;
  --toneWidth: 5px;
  --toneActive: #999;
  --tonePlaying: #000;
  --background: #fff;
}

body {
  background: var(--background);
  margin: 0;
}

nav {
  border-bottom: 3px #ccc solid;
  margin-bottom: 10px;
  padding: 10px;
}

.icon .primary {
  fill: #666;
}

.icon:hover .primary {
  fill: #000;
}

ul.posts {
  list-style: none;
  padding-left: 0;
}

.post {
  border-bottom: 1px #eee solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 10px;

  .icon {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -13px;
  }

  .notes {
    display: inline-block;
  }

  .bar {
    margin-bottom: var(--toneHeight);
    margin-right: var(--toneWidth);
    display: inline-block;
    border-right: 1px var(--toneBorder) solid;

    .note {
      border-bottom: 1px var(--toneBorder) solid;
      display: inline-block;

      .tone {
        border-left: 1px var(--toneBorder) solid;
        border-top: 1px var(--toneBorder) solid;
        display: block;
        height: var(--toneHeight);
        overflow: hidden;
        text-indent: -9999;
        white-space: nowrap;
        width: var(--toneWidth);
      }

      .tone.active {
        background: var(--toneActive);
        border-left: 1px var(--toneActive) solid;
      }

      .tone.active.start {
        border-left: 1px var(--toneBorder) solid;
      }

      .tone.playing {
        background: var(--tonePlaying);
        border-left: 1px var(--tonePlaying) solid;
      }

      .tone.playing.start {
        border-left: 1px var(--toneBorder) solid;
      }

    }

    .note.octave-low {
      border-bottom: 1px #000 solid;
    }

    .note.octave-high {
      border-top: 1px #000 solid;
    }
  }
}

#editor .post {
  padding-top: 10px;

  .icon {
    top: -30px;
  }

  .tone {
    height: var(--toneHeightEdit);
  }

  .controls {
    display: inline-block;
    vertical-align: top;

    .notes, .octaves {
      border: 1px #eee solid;
      overflow: hidden;
      padding: 5px 5px 0 5px;
      text-indent: -9999;
      white-space: nowrap;
    }

    .note {
      background: var(--toneActive);
      display: block;
      height: var(--toneHeightEdit);
      margin-bottom: 8px;
    }
    .note-1 {
      width: 5px;
    }
    .note-2 {
      width: 11px;
    }
    .note-4 {
      width: 23px;
    }
    .note-8 {
      width: 47px;
    }
    .note-16 {
      width: 95px;
    }

    .note.active {
      background: var(--tonePlaying);
    }

    .octave {
      background: var(--toneActive);
      display: block;
      height: 12px;
      width: 13px;
      margin-bottom: 5px;
      padding-top: 2px;

      .high, .mid, .low {
        background: #eee;
        height: 2px;
        width: 9px;
        margin-left: 2px;
      }
      .high, .mid {
        margin-bottom: 2px;
      }
    }

    .octave.active {
      background: var(--tonePlaying);
    }

    .octave-high .high, .octave-low .low {
      background: #666;
    }

  }
}
